:root {
  --fontSize: 1rem;
  --appBarSize: 60px;
  --paddingContent: 5rem;
  --fontColor: #001c3c;
  --primaryColor: #001c3c;
  --lightColor: rgb(197, 210, 255);
  --mainColor: #2783ec;
  --iconColor: #2181ed;
  --borderColor: #0457b7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--appBarSize) repeat(2, calc(100vh - 120px)) var(--appBarSize);
  align-content: start;
  color: #eaeaea;
  font-size: var(--fontSize);
  font-weight: 400;
}

button.material-icons {
  color: white;
}

.navlink {
  color: var(--fontColor);
  display: flex;
  justify-content: center;
}

.navlink:hover {
  color: var(--iconColor);
}


.material-icons, .navlink {
  cursor: pointer;
}

.material-icons, .navlink > a {
  cursor: pointer;
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  padding: 0 4.5rem;
  z-index: 9999;
  -webkit-box-shadow: 0 10px 6px -6px #77777780;
  -moz-box-shadow: 0 10px 6px -6px #77777780;
  box-shadow: 0 10px 6px -6px #77777780;
}
.navbar {
  background-color: white;
}
ul.dekstop {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0;
}

ul.mobile {
  display: none;
}
.navlink {
   padding: 8px 2px;
   display: flex;
   align-items: center;
   gap: 0.25rem;
}

.navlink-right {
   display: flex;
   gap: 0.8rem;
}

.navlink-left > li {
  list-style: none;
}

.navlink-right > li {
  list-style: none;
}

.navlink-left {
  display: flex;
  gap: 0.8rem;
}
.navlink-middle {
  display: flex;
  gap: 0.8rem;
}

.hero {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: var(--lightColor);
   background-color: var(--primaryColor);
}

.hero .title {
  font-weight: 350;
  font-size: 2.8rem;
  margin-bottom:10px;
  width: 80vw;
  text-align: center;
}

.hero .desc {
  font-weight: 250;
  font-size: 1.6rem;
  text-align: center;
  width: 80vw;
}

.main-content {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   overflow-y: hidden;
   scroll-behavior: smooth;
   padding: var(--paddingContent);
   gap: 2.5rem;
   background: #002a5a;
   background-image: url("/background.svg");
   background-repeat: no-repeat;
   background-size: 95%;
   background-position-y: 50%;
   background-position-x: center;
}
.content > .heading {
   position: relative;
   font-size: 2.5rem;
   font-weight: 300;
   margin-bottom: 10px;
   color: var(--lightColor);
   text-transform: capitalize;
}

.content > .text-content {
   line-height: 1.6rem;
   text-transform: none;
   text-align: justify;
   text-indent: 1.5rem;
   font-weight: 350;
   color: var(--lightColor);
}

.line {
   background-color: var(--lightColor);
   padding: 2px;
   width: 150px;
   margin-top: 0rem;
   margin-bottom: 0.6rem;
}

.content {
   flex: 2;
}
.side-content {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;

   height: 300px;
   width: 300px;
   position: relative;

}

.side-content:hover {
  animation: infinite 3s ease-in-out step-end;
}

.btn {
  padding: 0.8rem;
  text-align: center;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
  text-decoration: none;
  border-radius: 8px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 200px;
}

.btn-download {
  min-width: calc(100vw / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--lightColor);
  border: 1px solid var(--lightColor);
}

.signBtn {
  border: 1px solid var(--primaryColor);
  width: 120px;
  border-radius: 5px;
}

.signBtn:hover {
  border: 1px solid var(--mainColor);
}

.download-cv {
  display: flex;
  justify-content: flex-end;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #0070f3;
  border-color: #0070f3;
}

img.rounded {
  border-radius: 50%;
  background-image: linear-gradient(45deg, #001c3c36, transparent) !important;
}

.side-content > span > img {
  border: 1px solid var(--lightColor) !important;
}


.copyright {
   position: sticky;
   bottom: 0;
   color: var(--lightColor);
   width: 100%;
   height: var(--appBarSize);
   background-color: var(--primaryColor);
   display: flex;
   justify-content: center;
   align-items: center;
   border-top: 2px solid var(--borderColor);
}

footer.copyright > span {
  text-align: center;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* BREAKPOINT */

@media only screen and (max-width: 768px){
  .container {
    grid-template-rows: var(--appBarSize) repeat(2, auto) var(--appBarSize) !important;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-y: 15%;
    background-position-x: center;
  }
  .content {
      order: 2;
  }
  .side-content {
      padding: 8px;
      width: 100%;
      min-height: 250px;
  }

  header.navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
  }

  footer {
    padding: 0 1rem;
    font-size: 14px;
  }

  .hero {
    border-radius: 0 0 0 0;
  }

  .hero > .title {
    padding: 0 1rem;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0;
  }

  .hero > .desc {
    text-align: center;
    padding-top: 0;
    padding-bottom: 1rem;
    line-height: 18px;
    font-weight: 280;
    font-size: 0.8rem;
    margin-top: 0;
  }
  

  ul.dekstop {
      display: none;
  }

  .btn-download {
    min-width: calc(100vw / 2);
  }

  ul.mobile {
      padding: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }

  .text-content {
      font-size: 14px;
      text-align: justify;
      text-indent: 1.5rem;
      line-height: 1rem;
  }

  .content > .heading {
      font-size: 2rem;
  }

  li.small-mobile{
      display:none;
  }

  li {
    color: var(--fontColor) !important;
  }
}

input.search-bar {
  padding: 8px;
  position: relative;
  border: none;
  /* border-radius: 4px; */
  font-size: 12px;
  min-width: 200px;
  height: 35px;
  display: block;
  background-color: rgba(245, 245, 245, 0.178);
  outline-offset: none;
  outline: none;
}

button.button-search {
  float: right;
  border: none;
  padding: 8px;
  height: 35px;
  cursor: pointer;
  background-color: var(--iconColor);
}

input[type=text]{
  border: 1px solid var(--iconColor);
  padding: 0 1rem;
}

.search-page {
  display: flex;
  gap: 0.5rem;
  
}

@media only screen and (max-width:460px){
  input.search-bar {
      min-width: 100px;
  }
  .search-page {
      display: none;
  }

  li.small-mobile {
      display: flex;
  }
}

@media only screen and (max-width:360px){
  li.small-mobile{
      display: flex;
  }
}
